  <footer class="mar-y type-centered">
    <div class="row">
      Built by Steph Monette in 2016
      <span class="footer-divider"> 💖 </span>
      Check the source code on <a href="https://github.com/smonette/movie-library">GitHub</a>.
    </div>
  </footer>

</body>
</html>
