<div class="search-container">   
  <div class="row">  
    <form action="/search"  method="get" class="search-form">
      <div class="form-row"> 
        <span class="form-label">Find a Movie</span>
        <input type="text" name="searchterm" placeholder="Search" class="form-input mar-bottom search-input" required>
        <input type="submit" value="Search" class="form-submit search-submit">
      </div>
      <div class="search-message type-centered"><%- messages() %></div>
    </form>
  </div>   
</div>