<div class="search-bar">      
  <form action="/search"  method="get">
    <div class="form-row"> 
      <span class="form-label">Find a Movie</span>
      <input type="search" name="searchterm" id="searchterm" placeholder="Search" class="form-input mar-bottom">
      <input type="submit" placeholder="Search" class="form-submit">
    </div>
  </form>
    <p><%- messages() %></p>
</div>