.form-row {
  margin-bottom: $space;
}
.form-label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.form-input {
  padding: 10px;
  border-radius: $border-radius;
  border: $border;
  width: 100%;
  resize: none;
}
.form-submit {
  padding: 10px 15px;
  border-radius: $border-radius;
  background: $dark;
  color: $white;
  text-transform: uppercase;
  &:hover { 
    background-color: $teal; 
    color: $dark;
  }
}