.overlay {
  position: fixed;
  top: 0;
  background: rgba(#000, 0.8);
  width: 100%;
  height: 100%;
  visibility: hidden;

  &.active { 
    visibility: visible; 
    z-index: 10;
  }
}

.overlay-container {
  position: relative;
  background: $light;
  padding: $space;
  border-radius: $border-radius;
  
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;

  @media ($tablet-up) {
    margin-top: 50px;
    width: 50%;
  }

}

.overlay-dismiss {
  position: absolute;
  right: 10px;
  top: 5px;
  
  font-size: 35px;
}