.reviews {
  display: flex;
  flex-flow: column;

  @media ($tablet-up) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.review {
  border: $border;
  border-radius: $rounded;
  background: #ffffff;

  padding: $space;
  
  text-align: center;

  margin-bottom: $space;

  @media ($tablet-up) {
    flex-basis: 50%;
  }

  @media ($desktop-up) {
    flex-basis:32%;
    &:nth-of-type(3n+2) {
      margin-right: $space;
      margin-left: $space;
    }
  }
}