.reviews {
  display: flex;
  flex-flow: column;
}

.review {
  display: flex;

  border: $border;
  border-radius: $rounded;

  padding: 20px;

  flex-direction: row;
}


// image
.review-thumbnail {
  height: 200px;
  overflow: hidden;

  flex: 1 0 0;
}
.review-image {
  max-height: 100%;
}

.review-detail {
  flex: 1 0 0;
  @media ($tablet-up) {
    flex: 4 0 0;
  }
}






// hide & show
.review-text {
  // display: none;
  &.show { display: block; }
}