.review-text {
  @extend .type-lg;
  
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }

  // hide & show
  display: none;

  &.show { 
    display: block; 
  }
}

.review-title {
  a:hover { color: $blue; }
}
.review-rating {
  border-top: 1px solid #eee;
  padding-top: 10px;

}