<% include partials/_head.ejs %>
<body>
  <% include partials/_header.ejs %>
  <main>
    <div class="row">
      <h2 class="type-centered mar-y">404</h2>
        <p class="type-centered mar-bottom"> 
          Oh no, this page doesn't exist. Why don't you check out my <a href="/">movie reviews</a> instead?
        </p>
    </div>
  </main>  
<% include partials/_foot.ejs %>