<% include partials/_head.ejs %>
  <body>

    <header>
      this is the header
    </header>

    <form action="">
      <div class="form-row">
        <span class="form-label">Movie Title</span>
        <input type="text" placeholder="Movie Title" required>
      </div>
      <div class="form-row">
        <span class="form-label">My Review</span>
        <input type="textarea" placeholder="My Review" required> 
      </div>
      <div class="form-row">
        <span class="form-label">Poster URL</span>
        <input type="url" placeholder="Image URL"> 
      </div>
      <div class="form-row">
        <input type="range"  min="0" max="2" />
      </div>
      <div class="form-row">
        <input type="submit">
      </div>
    </form>


    <ul>
      <li>
        <h2></h2>
      </li>
    </ul>

  </body>
</html>
