<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Movies!</title>
<!--     <link rel="stylesheet" type="text/css" href="/../styles/style.css">
 -->  </head>


  <body>

    <header>
      this is the header
    </header>

    here's the main content

    <footer>
      the footer!
    </footer>

  </body>
</html>