<% include partials/_head.ejs %>
<body>

  <header class="mar-bottom">
    <h1 class="header-title">🎥 My Movie Reviews 🎥</h1>
  </header>
  <div class="row">
    <div class="search-bar">      
      <form action="">
        <div class="form-row"> 
          <span class="form-label">Find a Movie</span>
          <input type="search" name="filter-movies" placeholder="Search" class="form-input mar-bottom">
          <input type="submit" placeholder="Search" class="form-submit">
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <% include partials/_reviews.ejs %>
  </div>

  <footer class="mar-y type-centered">
    <div class="row">
      Built by Steph Monette in 2016
      <span class="footer-divider"> 💖 </span>
      Check the source code on <a href="https://github.com/smonette/movie-library">GitHub</a>.
    </div>
  </footer>
<% include partials/_overlay.ejs %>
</body>
</html>
