<% include partials/_head.ejs %>

  <main>
    <% include partials/_search.ejs %>
    
    <% include partials/_reviews.ejs %>
  </main>
  
  <% include partials/_overlay.ejs %>

<% include partials/_foot.ejs %>