<% include partials/_head.ejs %>
<body>

  <header>
    this is the header
  </header>
  <div class="row">
    <% include partials/_form.ejs %>
  </div>
  
  <div class="row">
    <% include partials/_reviews.ejs %>
  </div>



</body>
</html>
