<% include partials/_head.ejs %>
<body>

  <header>
    this is the header
  </header>
  
  <div class="row">
    <% include partials/_reviews.ejs %>
  </div>


<% include partials/_overlay.ejs %>
</body>
</html>
