@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background-color: $light;

  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $dark;
}

main {
 @media ($tablet-up) {
    padding-bottom: 100px;
  }
}