$dark: #011627;
$white: #FDFFFC;
$magenta: #F71735;
$gold: #FF9F1C;
$teal: #41EAD4;

$space: 20px;

$border-radius: 5px;

$border: 1px solid $dark;

// BREAKPOINTS
$mobile-only:		'max-width: 600px';
$tablet-up:			'min-width:601px';
$up-to-desktop:		'max-width:960px';
$desktop-up:		'min-width: 961px';