$dark: #011627;
$medium: #778899;
$light: #e9e5e2;
$blue: #0070cd;

$space: 20px;

$border-radius: 5px;

$border: 1px solid $dark;

// BREAKPOINTS
$mobile-only:		'max-width: 600px';
$tablet-up:			'min-width:601px';
$up-to-desktop:		'max-width:960px';
$desktop-up:		'min-width: 961px';